:root {
  --header-font-family: "Space Grotesk",
    sans-serif;
  --body-font-family: "Poppins", sans-serif;
  --hero-background-color: #f9f7fd;
  --primary-color: #6b63ff;
  --hover-color: #564fe2;
  --button-border-radius: 5px;
}

h1 {
  font-size: 96px;
  font-family: var(--header-font-family);
  font-weight: bolder;
}

h2 {
  font-size: 36px;
  font-family: var(--body-font-family);
  font-weight: bolder;
}

h3 {
  font-family: var(--body-font-family);
  font-size: 20px;
  color: rgb(90, 90, 90);
  line-height: 30px;
}

p {
  font-size: 16px;
  font-family: var(--body-font-family);
  font-weight: 500;
  line-height: 30px;
}

.hero-section {
  background-color: var(--hero-background-color);
  text-align: center;
  padding: 150px 20px;
}

.navigation-links {
  display: flex;
  justify-content: center;
}

.work {
  margin: 0px 10px;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 5px;
}

.work:hover {
  color: white;
  background-color: var(--hover-color);
}

.contact {
  margin: 0px 10px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-decoration: none;
  padding: 15px 35px;
  border-radius: var(--button-border-radius);
}

.contact:hover {
  background-color: white;
  color: var(--primary-color);
}

.project-button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-decoration: none;
  padding: 15px 35px;
  border-radius: var(--button-border-radius);
}

.project-button:hover {
  color: white;
  background-color: var(--primary-color);
}

.project-description {
  padding: 120px 50px;
}

.project-title {
  font-size: 64px;
}

.about-section {
  padding: 100px 30px;
}

.about-description {
  padding: 40px 0px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 18px;
  }

  .project-title {
    font-size: 48px;
  }

  .project-image {
    display: none;
  }

  .about-section {
    text-align: center;
  }
}
